/* Custom CSS untuk Tampilan Perusahaan Enterprise Besar */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
::-webkit-scrollbar-track {
    background: #f8fafc;
}
::-webkit-scrollbar-thumb {
    background: #cbd5e1;
    border-radius: 9999px;
}

body {
    -webkit-tap-highlight-color: transparent;
    font-family: 'Inter', sans-serif;
}

tr {
    transition: background-color 0.15s ease-in-out;
}
